.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    flex: 1 0 auto;
}

.container h2 {
    font-size: 2.2rem;
    font-family: 'Roboto Slab', serif;
}