.container {
    color: #333333;
    line-height: 1.2em;
    min-height: 3.6em;
    margin-bottom: 5px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;

}

.container a {
    color: #333333;
}

.container a:hover {
    color: #000000;
}