.container {
    background: #ffffff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    max-width: 290px;
    min-width: 290px;
    max-height: 354px;
    /* flex-grow: 1;
    flex-basis: 30%; */
    margin: 5px;
    margin-bottom: 10px;
}

.container img {
    width: 290px;
    height: 200px;
    object-fit: cover;
    min-width: 290px;
    min-height: 200px;
    background: #e0e0e0;
}

.noimage {
    background: #e0e0e0;
    width: 290px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {

    .container {
        max-height: none;
    }

}

@media only screen and (max-width: 576px) {

    .container {
        max-width: 100%;
        min-width: none;
        max-height: none;
    }

    .container img {
        width: 100%;
        height: 220px;
        min-height: none;
        min-width: none;
    }
}


@media (orientation: portrait) and (max-width: 576px) {

    .container {
        box-shadow: 0 1px 4px rgba(0,0,0,.16);
    }
    .container img {
        width: 100%;
        height: calc(100vw*1);
    }

}