.container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: #777777;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    max-height: 19px;
}

.container h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 255px;
    padding-right: 2px;
}

.container a {
    color: #333333;
}

.container a:hover {
    color: #000000;
}