.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 25px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container:hover  {
    z-index: 10;
    overflow: visible;
    background: #ffffff;
    position: absolute;
    padding: 3px;
    left: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    max-height: fit-content;
}

.tags {
    font-size: 0.8em;
    min-height: 1.5em;
    overflow: hidden;
    padding-top: 5px;
    padding-right: 4px;
    padding-bottom: 5px;
    padding-left: 0;
}

a.taglink {
    background: #333333;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    padding: 3px;
}

/* a.taglink:hover {
    background: #00a0a0;
    color: #ffffff;
} */

.container[data-season="spring"] a.taglink:hover {
    background: #f77a93;
}

.container[data-season="summer"] a.taglink:hover {
    background: #37cace;
}

.container[data-season="autumn"] a.taglink:hover {
    background: #dba72e;
}

.container[data-season="winter"] a.taglink:hover {
    background: #76b2d2;
}

.long {
    max-height: 1.5em;
}

.longIcon {
    position: absolute;
    right: 0;
    bottom: 0;
}

.long:hover .longIcon {
    visibility: hidden;
}

@media only screen and (max-width: 768px) {

    .long {
        max-height: none;
    }

    .longIcon {
        display: none;
    }

    .container:hover{ 
        position: relative;

        left: inherit;
        padding: 0;
    }

}