.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1 0 auto;
    align-content: flex-start;
    /* justify-content: left; */

}

@media only screen and (max-width: 1199px) {

    .container {
        /* justify-content: space-around;
        justify-content: space-evenly; */
        justify-content: center;
    }

}