.container {
    overflow: hidden;
    line-height: 1.5rem;
}

.container h2 {
    font-family: 'Roboto Slab', serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 285px;
}

.container h2 a {
    color: #00a0a0;
}

.container h2 a:hover {
    color: #006464;
}

.container h2[data-season="spring"] a {
    color: #f77a93;
}

.container h2[data-season="summer"] a {
    color: #37cace;
}

.container h2[data-season="autumn"] a {
    color: #dba72e;
}

.container h2[data-season="winter"] a {
    color: #76b2d2;
}

.container h2[data-season="spring"] a:hover {
    color: #c15167;
}

.container h2[data-season="summer"] a:hover {
    color: #00a0a0;
}

.container h2[data-season="autumn"] a:hover {
    color: #b17f0b;
}

.container h2[data-season="winter"] a:hover {
    color: #4982a0;
}

