.container {
    width: 100%;
    margin: 5px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
	border: solid 1px white;
	background-color: #00a0a0;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
    line-height: 1.5;
	font-family: 'Roboto', sans-serif;
    cursor: pointer;
    width: 100%;
    height: 40px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.container .button[data-season="spring"] {
    background-color: #f77a93;
}

.container .button[data-season="summer"] {
    background-color: #37cace;
}

.container .button[data-season="autumn"] {
    background-color: #dba72e;
}

.container .button[data-season="winter"] {
    background-color: #76b2d2;
}

/* .button:hover {
    background: #006464;
} */

.container .button[data-season="spring"]:hover {
    background-color: #c15167;
}

.container .button[data-season="summer"]:hover {
    background-color: #00a0a0;
}

.container .button[data-season="autumn"]:hover {
    background-color: #b17f0b;
}

.container .button[data-season="winter"]:hover {
    background-color: #4982a0;
}

.disabled {
    background-color: #bebebe;
    cursor: default;
}

.disabled:hover {
    background: #bebebe;
}