.container {
    display: flex;

    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    height: fit-content;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

.menuAndSearchColumn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    align-items: flex-end;
    padding-bottom: 4px;
}


@media only screen and (max-width: 1120px) {

    .wrapper {
      flex-direction: column;
    }

}