.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

.logo {
    position: relative;
    width: fit-content;
    margin-right: 40px;
}

.logo h1 {
    font-size: 5rem;
    font-family: 'Roboto Slab', serif;
    color: #333;
    position: relative;
    user-select: none;
}

.logo h2 {
    position: absolute;
    bottom: 3px;
    right: -21px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #333333;
}

h2 span {
    color: #777777;
}

/* .secondLineWrapper {
    display: flex;
    flex-grow: 2;
    align-items: flex-end;
    padding-bottom: 4px;
}

.secondLineWrapper h2 {
    align-self: flex-end;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: right;
} */

@media only screen and (max-width: 1119px) {
    .logo {
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .logo {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .logo h1 {
        font-size: 3rem;
    }

    .logo h2 {
        bottom: -1px;
        right: -30px;
        font-size: 11px;
    }
}

@media only screen and (max-width: 576px) {

    .logo h1 {
        font-size: 2.8rem;
    }

    .logo h2 {
        bottom: 1px;
        right: -22px;
        font-size: 9px;
    }
}



