.container {
    width: 100%;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

li {
    margin-left: 25px;
}

.container button {
    background-color: transparent;
    border: none;
    color: #00a0a0;
    cursor: pointer;
    font-family: 'Roboto Slab';
    font-size: 18px;
    text-transform: uppercase;
}

.container button:hover {
    color: #006464;
}

.container button[value="spring"] {
    color: #f77a93;
}

.container button[value="summer"] {
    color: #37cace;
}

.container button[value="autumn"] {
    color: #dba72e;
}

.container button[value="winter"] {
    color: #76b2d2;
}

.container button[value="spring"]:hover {
    color: #c15167;
}

.container button[value="summer"]:hover {
    color: #00a0a0;
}

.container button[value="autumn"]:hover {
    color: #b17f0b;
}

.container button[value="winter"]:hover {
    color: #4982a0;
}

button[value="spring"].active {
    background: #f77a93;
    color: white;
}
button[value="summer"].active {
    background: #37cace;
    color: white;
}
button[value="autumn"].active {
    background: #dba72e;
    color: white;
}
button[value="winter"].active {
    background: #76b2d2;
    color: white;
}

button[value="spring"].active:hover {
    /* background: #c15167; */
    color: white;
}
button[value="summer"].active:hover {
    /* background: #00a0a0; */
    color: white;
}
button[value="autumn"].active:hover {
    /* background: #b17f0b; */
    color: white;
}
button[value="winter"].active:hover {
    /* background: #4982a0; */
    color: white;
}



@media only screen and (min-width: 769px) and (max-width: 1119px) {

    ul {
        justify-content: center;
        padding-inline-start: 0;
    }

}

@media only screen and (max-width: 768px) {

    ul {
        justify-content: space-around;
        margin-block-start: 0px;
        padding-inline-start: 0px;
    }

    li {
        margin-left: 0;
    }

    .container button {
        font-size: 16px;
    }

}

@media only screen and (max-width: 576px) {

    ul {
        justify-content: center;
    }

    .container button {
        font-size: 14px;
    }

}