.container {
    /* flex-grow: 2; */
    width: 100%;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

input {
    padding: 5px;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {

    input {
        text-align: center;
    }

}