.container {
    align-self: flex-end;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    background: #333;
    height: 58px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-family: 'Roboto Slab', serif;
    color: #bebebe;
}