.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.toTheTopButton {
    position: fixed;
    bottom: 15px;
    color: #bebebe;
    cursor: pointer;
    font-size: 40px;
    right: 15px;
}

.toTheTopButton:hover {
    color: #777777;
}


@media only screen and (max-width: 768px) {
    .toTheTopButton {
        bottom: 10px;
        right: 5px;
    }
}