@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

body {
  background-color: #fcfcfc;
  background-image: url("./assets/background-pattern.png");
  /* min-height: 100vh;
  background-attachment: fixed; */
}

@media only screen and (max-width: 576px) {

  body {
    background-color: #fdfdfd;
  }

}